/**
styles
**/

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-size: 20px;
}
h1{
 font-size: 28px;
}
:root {
 --text-color: #2e2e2e;
}

button {
 background: none;
 outline: none;
 border: none;
 cursor: pointer;
}

a {
 text-decoration: none;
}
ul,li{
 list-style: none;
 margin: 0;
 padding: 0;
}

.container {
 max-width: 1440px;
 margin: 0 auto;
 padding: 0 10px;
 position: relative;
}
.catalog__list{
 margin: 2vw 0;
 display: grid;
 /* grid-template-columns: repeat(4, 1fr); */
 gap: 10px;
 grid-template-columns: repeat(auto-fit, minmax(min(100%, 16.5em), 1fr))
}

.card {
 border: 1px solid;
 padding: 10px;
 border-radius: 10px;
 color: var(--text-color);
}

.card__title>h2{
    font-size: 2vw;
}
.card__title>p{
    font-size: 1.5vw;
}

.card__image>img{
 width: 100%;
}
.card__btns>button{
 padding: 0.8vw 2.5vw;
 background-color: blueviolet;
 color: wheat;
 font-size: 1.2vw;
 border-radius: 1vw;
 -webkit-border-radius: 1vw;
 -moz-border-radius: 1vw;
 -ms-border-radius: 1vw;
 -o-border-radius: 1vw;
}

.modal{
 display: none;
 position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #00000091;

}
.active{
 display: flex;
 flex-direction: row;
 align-content: center;
 align-items: center;
 justify-content: center;
}

.modal__content{
 width: 50vw;
    height: 20vw;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    position: relative;
}
.modal__clous{
 position: absolute;
    top: -4vw;
    right: -2vw;
    color: #fff;
    background: #2e2e2e;
    padding: 0.5vw 1vw;
    border-radius: 100%;
}

.modal__counter{
 margin-top: 2vw;
 display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.counter__minus,
.counter__pluss{
 padding: 0.5vw 1vw;
    background: #009834;
    color: #fff;
    border-radius: 10px;
}

.nav{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 2vw 0;
}

.catalog__carzina{
 display: flex;
 align-items: center;
 flex-direction: row;
 flex-wrap: nowrap;
 justify-content: flex-end;
 /* position: absolute; */
 top: 1vw;
 right: 4vw;
}
.catalog__carzina>span{
 content: '0';
 padding: 0.4vw;
}

.addCarzina{
 padding: 0.5vw 1vw;
 background: #a80000;
 color: #fff;
 border-radius: 1vw;
 margin-top: 1vw;
}

.removeCarzina{
    padding: 0.5vw 1vw;
    background: #bb0000;
    color: #fff;
    border-radius: 0.7vw;
    -webkit-border-radius: 0.7vw;
    -moz-border-radius: 0.7vw;
    -ms-border-radius: 0.7vw;
    -o-border-radius: 0.7vw;
    margin-right: 1vw;
    font-size: 1.5vw;
}



@media (max-width: 1000px) {
    .card__title>h2{
        font-size: clamp(24px, 4vw, 36px);
    }
    .card__title>p{
        font-size: clamp(20px, 2.7vw, 28px);
    }
    .card__btns>button{
        padding: 1.4vw 3vw;
        font-size: clamp(20px, 2.2vw, 30px);
       }
       .modal__content {
        width: clamp(95%, 25vw, 500px);
        height: 40vw;
        gap: 2vw;
    }
    .modal__content>h2{
        font-size: clamp(24px, 4vw, 30px);
    }
    .modal__content>p{
        font-size: clamp(20px, 3.4vw, 30px);
    }
    .counter__minus,
    .counter__pluss{
        font-size: clamp(20px, 3.2vw, 30px);
        padding: 1vw 2vw;
    }
    .modal__counter>span{
        font-size: clamp(20px, 2.2vw, 30px);
    }
    .modal__counter {
        gap: 2vw;
    }
    .addCarzina {
        padding: 1.5vw 3vw;
    }
    .modal__clous {
        padding: 2.5vw 3vw;
    }
    .nav {
        display: flex;
        flex-direction: column;
        gap: 2vw;
    }
    .removeCarzina {
        padding: 1vw 2vw;
        font-size:clamp(24px, 3vw, 36px);
    }
}

